@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Smooch+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
body {
    background-color: #19191B;
    font-family: 'Noto Sans', sans-serif;
    animation-name: startup;
    animation-duration: 3s;
    margin: 0px;
}
@keyframes startup {
    0% {overflow: hidden;}
    100% {overflow: hidden;}
} 
#logo {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Fredoka', sans-serif;
    animation-name: startup-logo;
    animation-duration: 2s;
}
@keyframes startup-logo {
    0% {font-size: 200px;
        padding-top: 175px;
        margin-bottom: 500%;}
    50% {font-size: 200px;
        padding-top: 175px;
        margin-bottom: 500%;}
    100% {font-size: 50px;}
}
#left {
    float: left;
    width: 30%;
    margin-left: 40px;
}
#profile {
    display: block;
}
#avatar {
    border-radius: 100%;
    width: 30%;
    height: 30%;
    box-shadow: 0px 0px 15px white;
    margin-top: 30px;
    float: left;
    margin-left: 15px;
    animation-name: unhover-upscale;
    animation-duration: 1s;
}
@keyframes unhover-upscale {
    0% {width: 33%; height: 33%;}
    100% {width: 30%; height: 30%;}
}
#avatar:hover {
    animation-name: hover-upscale;
    animation-duration: 1s;
    border-radius: 100%;
    width: 33%;
    height: 33%;
    box-shadow: 0px 0px 15px white;
    margin-top: 30px;
    float: left;
    margin-left: 15px;
}
@keyframes hover-upscale {
    0% {width: 30%; height: 30%;}
    100% {width: 33%; height: 33%;}
}
#name {
    margin-left: -2px;
    padding-right: 40px;
    color: white;
    font-size: 50px;
    float:right;
    height: 30%;
    padding-top: 80px;
    font-family: 'Smooch Sans', sans-serif;
}
#skill-container {
    height: 50%;
    border-radius: 10px;
    background-color: #424242;
    margin-top: 45%;
    animation-name: startup-skills;
    animation-duration: 3s;
}
#skill-name {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    margin-left: 10%;
    margin-top: 5%;
    padding-top: 5%;
}
#skill-bar {
    width: 80%;
    height: 20px;
    background: #656565;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 10%;
}
#skill-progress-1 {
    position: absolute;
    height: 18px;
    width: 23.5%;
    background-image: linear-gradient(to right, #2DD5E3 , #8AFF70);
    margin-left: 2px;
    margin-top: 1.5px;
    border-radius: 4px;
}
#skill-progress-2 {
    position: absolute;
    height: 18px;
    width: 23.5%;
    background-image: linear-gradient(to right, #2DD5E3 , #8AFF70);
    margin-left: 2px;
    margin-top: 1.5px;
    border-radius: 4px;
}
#skill-progress-3 {
    position: absolute;
    height: 18px;
    width: 14%;
    background-image: linear-gradient(to right, #2DD5E3 , #8AFF70);
    margin-left: 2px;
    margin-top: 1.5px;
    border-radius: 4px;
}
#skill-progress-4 {
    position: absolute;
    height: 18px;
    width: 15%;
    background-image: linear-gradient(to right, #2DD5E3 , #8AFF70);
    margin-left: 2px;
    margin-top: 1.5px;
    border-radius: 4px;
}
#skill-progress-5 {
    position: absolute;
    height: 18px;
    width: 14%;
    background-image: linear-gradient(to right, #2DD5E3 , #8AFF70);
    margin-left: 2px;
    margin-top: 1.5px;
    border-radius: 4px;
}
#skill-progress-6 {
    position: absolute;
    height: 18px;
    width: 9%;
    background-image: linear-gradient(to right, #2DD5E3 , #8AFF70);
    margin-left: 2px;
    margin-top: 1.5px;
    border-radius: 4px;
}
#skill-progress-7 {
    position: absolute;
    height: 18px;
    width: 21%;
    background-image: linear-gradient(to right, #2DD5E3 , #8AFF70);
    margin-left: 2px;
    margin-top: 1.5px;
    border-radius: 4px;
}
#skill-bar-last {
    width: 80%;
    height: 20px;
    background: #656565;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
#empty {
    color: #424242;
}
@keyframes startup-skills {
    0% {margin-top: 200%;}
    50% {margin-top: 200%;}
    100% {margin-top: 45%;}
}
#right {
    display: block;
    width: 60%;
    margin-left: 40px;
    margin-top: 10px;
    float: left;
}
#text-container {
    border-radius: 10px;
    background-color: #EDEDED;
    padding: 5%;
    margin-top: 20px;
    animation-name: startup-blog;
    animation-duration: 3.5s;
}
@keyframes startup-blog {
    0% {margin-top: 300%;}
    50% {margin-top: 300%;}
    100% {margin-top: 20px;}
}
#title {
    font-weight: bold;
    font-size: 40px;
}
footer {
    height: 40px;
    background-color: #424242;
    color: white;
    border-radius: 10px;
    float: left;
    margin-left: 40px;
    width: 92.8%;
    margin-top: 40px;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    margin-bottom: 20px;
}
#left-container {
    height: 50%;
    border-radius: 10px;
    background-color: #424242;
    margin-top: 10px;
}
#spotify-link-img {
    width: 10%;
    height: 10%;
    margin-left: 40px;
}
#link-img {
    width: 10%;
    height: 10%;
    margin-left: 10px;
}
#left-container-flag {
    height: 100px;
    border-radius: 10px;
    background-color: blue;
    color: blue;
    margin-top: 25px;
    border-bottom: 100px solid yellow;
}
#left-container-flag:hover {
    height: 100px;
    border-radius: 10px;
    background-color: red;
    color: red;
    margin-top: 25px;
    animation-name: rage;
    animation-duration: 0.15s;
    animation-iteration-count: infinite; 
    border-bottom: 100px solid black;
}
@keyframes rage {
    0% {transform: rotate(0deg); margin-right: 0px; margin-left: 0px;}
    25% {transform: rotate(2deg); margin-right: 5px; margin-left: -5px;}
    50% {transform: rotate(0deg); margin-right: 0px; margin-left: 0px;}
    75% {transform: rotate(-2deg); margin-right: -5px; margin-left: 5px;}
    100% {transform: rotate(0deg); margin-right: 0px; margin-left:0px;}
}